html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*------------------ new CSS -----------------------*/

nav {
    background-color: #2d5516;
}

#logo {
    height: 65px;
}


.pv-border {
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    border-radius: 5px;    
}

.pv-border-title {
    background-color: #d9dfe6;
    border-bottom: solid 1px lightgray;
}

.yellow-hover:hover {
    color: yellow !important;
}

#price_chart, #historicalprice_chart, #dividendsByYear_chart, #peratio_chart {
    width: 100%;
    height: 410px;
}

.CompanyUrl {
    text-decoration: none;
    color: green;
}

.CompanyUrl:hover {
    color: olivedrab;
}

.bg-green {
    background-color: green;
}

.content-logo {
    max-width: 350px;
    border-radius: 10px;
    background-color: #2d5516;
    padding:10px 20px;
    margin-bottom: 30px;
}

.content-FMP-logo {
    max-width: 350px;
    margin-bottom: 30px;
}



@media only screen and (max-width: 678px) {
    #logo {
        height: 50px;        
    }

    .inputTicker {
        width: 100%;
    }

    footer {
        font-size: 10px;
    }

    .content-FMP-logo {
        max-width: 80%;
    }

    .content-logo {
        max-width: 80%;      
    }
}