@{
    ViewData["Title"] = "About Financial Trail";
}
<h1 class="mt-5">
    <svg bootstrap-icon="FileEarmarkPerson" width="45" height="45" aria-label="Alarms"></svg>
    @ViewData["Title"]
</h1>
<hr />
<br />

<img src="~/img/logo.jpg" class="content-logo" />

<p>
    Welcome to Financial Trail, a sample Financial Data Application designed to showcase how
    to consume financial data a REST API and process these informations to generate tables,
    charts, and indicators related to the stock market.
</p>
<p>
    By exploring this application, you can:
</p>
<ul>
    <li>View real-time financial data.</li>
    <li>Analyze and visualize stock market trends through tables, charts and indicators.</li>
    <li>Access valuable market indicators.</li>
    <li>Gain insights into the world of finance.</li>
</ul>


<h3 class="my-5">
    <svg bootstrap-icon="PiggyBankFill" width="45" height="45" aria-label="PiggyBank"></svg>
    Get Financial Data
</h3>
<p>
    Would you like to include financial information into your own projects? Visit the section
    <a asp-action="Order" class="CompanyUrl">Get Financial Data</a> to learn how you can get 15%
    discount on ordering your personal API Key.
</p>

<h3 class="my-5">
    <svg bootstrap-icon="Github" width="45" height="45" aria-label="Github"></svg>
    Visit my GitHub Profile
</h3>
<p>
    To learn more about this and other projects of mine, please visit my GitHub profile at     
    <a href="https://github.com/sergio-lacerda" target="_blank" class="CompanyUrl">https://github.com/sergio-lacerda</a>
</p>



<p>
    Thank you for visiting, and we hope you find this application useful and inspiring
    for your financial endeavors and projects.
</p>