@{
    ViewData["Title"] = "Get Financial Data";
}
<h1 class="mt-5">
    <svg bootstrap-icon="CashCoin" width="45" height="45" aria-label="Alarms"></svg>
    @ViewData["Title"]
</h1>
<hr />
<br />

<img src="~/img/FMP_logo.jpg" class="content-FMP-logo" />

<p>
    All data used in this application project is sourced from the Financial Modeling 
    Prep (FMP) API which is the sole owner of the financial data API and is responsible 
    for the accuracy and reliability of the information provided through it.
</p>
<p>
    I encourage you to leverage the power of the Financial Modeling Prep (FMP) API in 
    your own projects. 
</p>
<p>
    Explore this Sample Financial Data Application and discover the possibilities of the 
    Financial Modeling Prep (FMP) API. Whether you're a seasoned investor or a budding 
    developer, this platform offers valuable insights into the world of finance.    
</p>

<p>
    Would you like to include financial information like these into your own projects?
    It's easy to get started:
</p>

<h5 class="pt-3 pb-3">Using FMP API in Your Projects:</h5>

<ul>
    <li>
        <b>Sign Up and choose a plan:</b> Register on the FMP website and select 
        a suitable plan that meets your requirements. 
    </li>
    <li>
        <b>A gift for you:</b>
        Through this link, you can get 15% discount:
        <svg bootstrap-icon="GiftFill" width="16" height="16" aria-label="Gift"></svg>
        <a href="https://intelligence.financialmodelingprep.com/pricing-plans?couponCode=sergio"
           class="CompanyUrl" target="_blank">
            Get your API Key.
        </a>
        <svg bootstrap-icon="GiftFill" width="16" height="16" aria-label="Gift"></svg>
    </li>
    <li><b>Obtain API Key:</b> Once you're subscribed, you'll receive your unique API key.</li>
    <li>
        With your API key in hand, you can integrate FMP's financial data into your 
        applications, research, or projects to stay informed and up-to-date with the 
        ever-changing financial landscape.
    </li>
</ul>





