@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mt-5">
    <svg bootstrap-icon="ShieldCheck" width="45" height="45" aria-label="Alarms"></svg>
    @ViewData["Title"]
</h1>
<hr />
<br />
<p>
    This software is an example of a web application for consuming and processing 
    financial information from an API, aiming to provide data tables, graphs and 
    indicators about the stock market.
</p>
<p>
    This software does not collect, store, or use any kind of personal information from our visitors.
</p>

